.img {
    width: 100px;
}

.img:hover {
    filter: blur(5px);
}

.nav-link {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

/* carousel */
.carousel-item {
    height: 55vh;
    font-size: 30px;

}

.carousel-item h5 {
    font-size: 50px;
    background-color: rgb(46, 84, 250);
    opacity: 0.4;

}

/* Cards con Servicios */

.card {
    margin: 10px;
    background-color: #3e63f2;
background-image: linear-gradient(160deg, #3e63f2 0%, #9db6e5 73%);
    border-radius: 15px;

}

.card a {
    background-color: #0b51e5;
    background-image: linear-gradient(49deg, #0b51e5 0%, #90ccf0 71%);


}

.card img:hover {
    filter: opacity(.8);

}

.card img {
    height: 220px;
    margin-top: 1rem;
}

.h5 {
    padding: 2rem;
}

/* DISEÑO FORMULARIO DE CONTACTO */
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.contacto {
    background-color: rgb(76, 89, 92);
}

.btn {
    margin-top: 2rem;
}